# CodeIgniter Subfolder .Htaccess
# today hints by www.insanen.com
Options +FollowSymLinks

RewriteEngine On
# Please do-not forget to change RewriteBase /YOUR-SUBFOLDER HERE
RewriteBase /tpov2
RewriteRule ^$ index.php [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(index\.php|robots\.txt|favicon\.ico)

RewriteRule ^(.*)$ index.php?/$1 [L]

#php_value session.auto_start 1
#session.name = session
